version: "3.9"
services:
  postgres:
    image: postgres:16
    container_name: postgres_local
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: auth_prueba
    ports:
      - "5433:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql
